* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dedede;
}

main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  padding-top: 20px;
}

.container{
  position: relative;
}

.button{
  background-color: #3d3dff;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  padding: 20px 15px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.next{
  right: 0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.prev{
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}



#slider {
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  scroll-behavior: smooth;

  div {
    text-align: center;
    font-size: 100px;
    flex-shrink: 0;
    width: calc(25% - 40px);
    margin: 0 20px;
    height: 200px;
    line-height: 200px;

    &:nth-of-type(odd) {
      background-color: #ffdddd;
    }

    &:nth-of-type(even) {
      background-color: #ddffdd;
    }

    @media(max-width: 760px){
      width: calc(100% / 3 - 40px);
    }

    @media(max-width: 480px){
      width: calc(50% - 40px);
    }

    @media(max-width: 320px){
      width: calc(100% - 40px);
    }
  }
}
